/* gonna make use of flex containers because they seem neat */
.produce,
.meat,
.pantry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
}

.produce_header,
.meat_header,
.pantry_header {
  background-color: aliceblue;
  width: 750px;
  border: 4px solid black;
  border-radius: 10px;
  padding-left: 15px;
  /* if I make it so that the width cannot shrink lower than 700px
  then make the margin extend on the rest of the page, list boxes will be pushed below */
  flex-shrink: 0;
  margin-right: 100%;
}

.fruit,
.vegetables,
.beef,
.pork_chicken,
.top_shelf,
.middle_shelf,
.bottom_shelf {
  background-color: aliceblue;
  font-style: italic;
  width: 200px;
  padding-left: 15px;
  margin-left: 30px;
  height: 160px;
}

/* fix img because they are huge and I can't see the page properly. Maybe temporary, maybe not */
img {
  height: 160px;
  padding-left: 30px;
}

/* cool little effect when hovering over list items */
li:hover {
  background-color: slategray;
}
